
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#6E7C7C;
}

.header p{
    text-align: center;
}
div.sidebar{
    max-width: 200px;
    width: 100%;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 9;
    background: #6E7C7C ;
    max-height: 100vh;
    box-shadow: 0px 5.06787px 17.7376px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
}

button.logout{
    background-color: #B4FE5B;
    position: absolute;
    bottom: 15px;
    left: 35px;
    padding: 5px 30px;
    border-radius: 8px;
    text-align: center;
}


